footer{
    position: absolute;bottom: 0;
    background-color: black;
    min-height: 100px;
    width: 100%;
}

.texto-rodape{
    position: absolute;
    right: 20px;
    color: white;
    padding-top: 50px;
}