<div class="formulario-entrar">
    <form (submit)="autenticarUsuario($event)">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required id="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput required id="senha">
        </mat-form-field>
        <br>
        <input class="mat-raised-button" type="submit" value="Entrar">
    </form>
</div>
