.formulario-entrar{
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 30px;
    text-align: center;
    border:solid 2px;
    border-radius: 10px;
}

.email{
    width: 60%;
}

.senha{
    width: 60%;
}

.codigo-acesso{
    width: 60%;
}

.esqueci-senha{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}