.formulario-registro{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 30px;
    text-align: center;
    border:solid 2px;
    border-radius: 10px;
}

.mat-raised-button{
    margin-bottom: 15px;
}

mat-form-field{
    width: 60%;
}

.validacao{
    color: red;
    font-size: small;
}