.texto-inicial{
    padding-top: 2%;
    text-align: center;
    font-size: 2vw;
    text-shadow: 1px 1px 1px #111111;
}

.fundo{
    background-image: url(src\assets\imagens\background.jpg);
    background-size: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    height: auto;
}