<mat-dialog-content class="modal-grana">
    <form [formGroup]="grupoDeFormulario">
        <div class="nome-grana">
            <mat-form-field appearance="fill">
                <mat-label>Nome Grana</mat-label>
                <input formControlName="nome" matInput required>
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button [disabled]="grupoDeFormulario.invalid" class="mat-raised-button botao-salvar" (click)="salvar()">Salvar</button>
            <button class="mat-raised-button botao-cancelar" (click)="cancelar()">Cancelar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>