<div class="container">
    <div class="titulo-grana">
        <h1>{{grana?.nome}}</h1>
    </div>

    <mat-table [dataSource]="gastos" class="mat-elevation-z8 tabela-grana">

        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef> Gasto </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.tipo}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.valor | currency : 'BRL'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="data">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.data  | date:'shortDate'}} </mat-cell>
        </ng-container>

        <ng-container *ngFor="let disCol of pessoas; let colIndex = index" matColumnDef={{disCol}}>
            <mat-header-cell *matHeaderCellDef> {{disCol}} </mat-header-cell>
            <mat-cell *matCellDef="let elemento"> {{elemento.gastosPessoas[colIndex].valorGasto | currency : 'BRL'}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
    </mat-table> 



    <!-- <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
            <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
            <mat-cell *matCellDef="let element "> {{element.disCol}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->