<mat-toolbar>
    <span>
        <button class="grana" mat-button routerLink="/">Grana Web</button>
    </span>
    <div class="espacador"></div>
    <button class="entrar" *ngIf="mostrarEntrar()" mat-button routerLink="/entrar">Entrar</button>
    <button *ngIf="mostrarRegistrar()" mat-raised-button color="primary" routerLink="/registrar">Registrar</button>
    <button *ngIf="mostrarPerfil()" mat-mini-fab color="primary" routerLink="/perfil">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="mostrarSair()" mat-stroked-button color="warn" (click)="sair()">Sair</button>
</mat-toolbar>